* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 10px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#dropdownpanel {
  min-height: 500px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
}

#dropdownpanel .maincontent {
    display: flex;
    flex-direction: row;
    gap:20px;
}

.dropdowncontainer {
  width: 200px;
}

.dropdownbutton {
  position: relative;
  border: none;
  padding: 10px 20px;
  border-radius: 2px;
  background-color: rgb(30, 144, 255);
  color: white;
  font-family: inherit;
  font-size: 20px;
  width: inherit;
  box-shadow: var(--shadow);
}

.dropdownbutton:hover {
  background-color: rgb(20, 134, 245);
}

.dropdowncontent {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: inherit;
  box-shadow: var(--shadow);
  visibility: hidden;
  opacity: 0;
}

.dropdowncontent a {
  padding: 10px 10px;
  text-decoration: none;
  background-color: rgb(173, 216, 230);
  color: black;
  width: inherit;
}

.dropdowncontent a:hover {
  background-color: rgb(153, 196, 210);
}

.header {
  text-align: center;
  padding: 25px 0;
  font-size: 24px;
  font-weight: bolder;
}

#imgcarouselpanel {
  min-height: 500px;
  background-color: slategray;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-bottom: 100px;
}

.imagecontainer {
  height: 450px;
  width: 600px;
  border: 5px solid white;
  border-radius: 4px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.slides {
  height: 100%;
  width: 100%;
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.show {
  visibility: visible;
  opacity: 1;
}

#imgcarouselpanel .maincontent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  align-items: center;
}

.slidebtn {
  border: none;
  background-color: rgb(220, 20, 60);
  width: 100px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: inherit;
  padding: 10px 10px;
  border-radius: 4px;
}

.slidebtn:hover {
  background-color: rgb(210, 10, 10);
}

.navigation {
  position: absolute;
  bottom: 5px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid rgb(112, 128, 144);
  background-color: rgba(112, 128, 144, 0.1);
}

.dot.show {
  background-color: rgb(112, 128, 144);
}
